page-comprar-obra {

}

#imagenArte {
	weight: 250px;
	height: 250px;

	.icon {
 display: inline-block;
 font-size: 40px;
 color: #ffC977;
 vertical-align: middle;
}

.text{
  display: inline-block;
  vertical-align: middle;
}
}