

<h2> Bienvenido a {{title}} </h2>


<table style="width:100%">
  <tr>
    <th>Foto</th>
    <th>Marca</th> 
    <th>Modelo</th>
    <th>Año</th>
    <th>En venta desde</th>
    <th>Precio</th>
    <th>PVP</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let g of coches">
    <td>{{g.foto}}</td>
    <td>{{g.marca | uppercase}}</td> 
    <td>{{g.modelo | lowercase}}</td> 
    <td>{{g.fecha_modelo | date:'yyyy'}}</td>
    <td>{{g.fecha_venta | date:'MM-yyyy'}}</td>
    <td>{{g.precio}}</td>   
    <td>{{g.getPVP()}}</td>
    <td>Rebajar // Vendido</td>  
  </tr>
</table>

