

<h2> Bienvenido a {{title}} </h2>

Filtrar por: <input [(ngModel)]="filtro" placeholder="(marca de coche)">

<br>

<table style="width:100%">
  <tr>
    <th>Foto</th>
    <th>Marca</th> 
    <th>Modelo</th>
    <th>Año</th>
    <th>En venta desde</th>
    <th>Precio</th>
    <th>PVP</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let g of coches; let i=index">
    <td *ngIf="g.foto==''">(sin foto!)</td>
    <td *ngIf="g.foto!=''"><img src="assets/{{g.foto}}" alt="{{g.modelo}}"></td>
    <td>{{g.marca | uppercase}}</td> 
    <td>{{g.modelo | lowercase}}</td> 
    <td>{{g.fecha_modelo | date:'yyyy'}}</td>
    <td>{{g.fecha_venta | date:'MM-yyyy'}}</td>
    <td>{{g.precio | number:'4.2-2'}}€</td>   
    <td *ngIf="g.estado==EstadoCoche.BUENO" style="background-color:green">{{g.getPVP() | number:'4.2-2'}}€</td>
    <td *ngIf="g.estado==EstadoCoche.MALO" style="background-color:red">{{g.getPVP() | number:'4.2-2'}}€</td>
    <td><button type='button' (click)='rebajar(i)'>Rebajar</button>
    	<button type='button' (click)='vendido(i)'>Vendido</button>
    </td>  
  </tr>
</table>

